transformers>=4.5.0
spacy==3.0.6  # Compatible with thinc==8.0.3
thinc==8.0.3  # Ensure compatibility with spacy==3.0.6
pysolr~=3.9.0
flask==1.1.2
flask-cors
Flask-Markdown
torch>=1.7.1
streamlit
jinja2==3.0.1
markupsafe==2.0.1
spacy-lookups-data
cython>=0.29.21  # Ensures proper compilation of C-extensions
numpy>=1.18.5  # Ensures numpy is installed, often needed for thinc
# Ensure compatibility with spaCy version and model
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz
